{% extends 'core/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h1 class="text-3xl font-semibold mb-6">About Us</h1>
    
    <div class="bg-white rounded-lg shadow-md p-8 mb-8">
        <p class="text-lg mb-6">Welcome to our online marketplace for electronic gadgets! At Shopline, we strive to provide the best selection of cameras, speakers, headphones, and mobile devices to meet your tech needs.</p>
        
        <p class="text-lg mb-6">Our mission is to make shopping for electronics convenient, enjoyable, and hassle-free. With our user-friendly platform and wide range of products, we aim to be your go-to destination for all things tech.</p>
        
        <p class="text-lg mb-6">Whether you're a photography enthusiast looking for the latest camera gear, an audiophile in search of high-quality speakers and headphones, or a smartphone aficionado wanting to upgrade to the newest model, we've got you covered.</p>
        
        <p class="text-lg mb-6">At Shopline, customer satisfaction is our top priority. If you have any questions, feedback, or concerns, please don't hesitate to reach out to us. We're here to help!</p>
        
        <p class="text-lg mb-6">Thank you for choosing Shopline. Happy shopping!</p>
    </div>
    
    <div class="flex justify-center">
        <a href="/contact/" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-full shadow-md transition duration-300">Contact Us</a>
    </div>
{% endblock %}



